$container-max-width: 1304px;

$gap: 32px;

$border-radius: 10px;

$section-offset-sm: 35px;
$section-offset: 70px;

$color-gold: #d5b986;

$color-secondary-lighten: #fff5d1;
$color-secondary-light: #ffbd59;
$color-secondary: #ff862f;
$color-secondary-dark: #bb370e;

$color-success: #b8ec64;

$color-accent-lightest: #f8efff;
$color-accent-lighten: #ebd1ff;
$color-accent-light: #c998fb;
$color-accent: #a65cf0;
$color-accent-dark: #7033ac;

$color-main-lightest: #fff;
$color-main-lighten: #eaeaea;
$color-main-light: #f6f6f6;
$color-main: #999;
$color-main-dark: #666;
$color-main-darken: #333;

$bg-position: center;
$bg-repeat: no-repeat;
$bg-size: cover;

$duration: 0.3s;
$timing-function: ease-in-out;
