@import 'variables';
@import 'mixins';

.catalog {
  padding-bottom: $section-offset;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $gap;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid: {
      column: span 3;
      row: 1 / 3;
    }
  }

  &__title {
    grid-column: 4 / 13;
    margin-bottom: 24px;
    font: {
      weight: 400;
      size: 24px;
    }
    line-height: 130%;
  }
}

.filter {
  &__desc {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 130%;
  }

  &__fieldset {
    margin-bottom: 27px;
  }

  &__legend {
    font: {
      weight: 600;
      size: 16px;
    }
    line-height: 130%;
    color: $color-main-dark;

    &_checkbox {
      margin-bottom: 10px;
    }

    &_price {
      margin-bottom: 4px;
    }
  }

  &__wrapper {
    display: flex;
    column-gap: 9px;
  }

  &__pretext {
    margin-right: 6px;
    font-size: 16px;
    line-height: 130%;
    color: $color-main-dark;
    text-transform: lowercase;
  }

  &__input {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid $color-main {
      radius: 2px;
    }
    width: 86px;
    font: {
      family: 'Open-Sans', sans-serif;
      weight: 400;
      size: 16px;
    }
    line-height: 130%;
    color: $color-main-dark;
    background-color: transparent;
    transition: border-color $duration $timing-function, background-color $duration $timing-function;

    &::placeholder {
      font: {
        family: 'Open-Sans', sans-serif;
        weight: 400;
        size: 16px;
      }
      line-height: 130%;
      color: $color-main-dark;
    }

    &:focus-visible {
      outline: none;
      border-color: $color-accent;
      background-color: $color-accent-lighten;
    }

    &:hover:not(:focus-visible) {
      border-color: $color-accent;
    }

    &:active:not(:focus-visible) {
      border-color: $color-accent-dark;
    }
  }
}

.blurb {
  border-radius: $border-radius;
  background-color: $color-main-darken;

  &::before {
    content: '';
    display: block;
    border-radius: $border-radius $border-radius 0 0;
    width: 100%;
    height: 190px;
    @include image-set('../img/raster/collection-bg-mini-1920', 'jpg');
    background: {
      repeat: $bg-repeat;
      position: $bg-position;
      size: $bg-size;
    }
  }

  &__wrapper {
    padding: 30px 60px 30px 30px;
  }

  &__title {
    margin-bottom: 14px;
    font: {
      weight: 400;
      size: 16px;
    }
    line-height: 130%;
    color: $color-main;
  }

  &__subtitle {
    display: block;
    font: {
      family: 'Playfair-Display', sans-serif;
      weight: 900;
      size: 24px;
    }
    line-height: 130%;
    color: $color-gold;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  grid-column: 4 / 13;
  column-gap: 16px;
  margin-top: 32px;

  &__item:not(:nth-child(-n + 2)) {
    display: none;
  }

  &__btn {
    border: 2px solid $color-accent {
      radius: $border-radius;
    }
    width: 32px;
    height: 32px;
    font: {
      weight: 600;
      size: 16px;
    }
    line-height: 100%;
    color: $color-accent;
    text-align: center;

    transition: background-color $duration $timing-function, color $duration $timing-function, border-color $duration $timing-function;

    &_active {
      border-color: $color-accent-dark;
      background-color: $color-accent-dark;
      color: $color-main-lightest;
    }

    &:focus-visible {
      outline: none;
      background-color: $color-accent-light;
      color: $color-main-lightest;
    }

    &:hover:not(:focus-visible) {
      background-color: $color-accent;
      color: $color-main-lightest;
    }

    &:active:not(:focus-visible) {
      border-color: $color-accent-dark;
      background-color: $color-accent-dark;
    }
  }
}
