@import 'variables';
@import 'mixins';

.cooperation {
  padding-bottom: $section-offset;

  &__title {
    margin-bottom: $gap;
  }

  &__list {
    margin-bottom: $gap;
    max-width: 842px;
  }

  &__item {
    margin-bottom: $gap;
  }

  &__subject {
    margin-bottom: 11px;
    font: {
      weight: 400;
      size: 24px;
    }
    line-height: 143%;
  }

  &__heading {
    margin-bottom: 13px;
    font: {
      weight: 600;
      size: 16px;
    }
    line-height: 138%;
    color: $color-secondary;
  }

  &__desc {
    font-size: 16px;
    line-height: 180%;
    color: $color-main-dark;

    &:not(:last-child) {
      margin-bottom: 0.5em;
    }

    &_element {
      line-height: 150%;
    }
  }

  &__items {
    &_result {
      max-width: 624px;
    }

    &_warranty {
      counter-reset: counter 0;
    }
  }

  &__element {
    &_result {
      margin-bottom: 12px;
      padding-left: 37px;
      background: {
        position: left top;
        repeat: $bg-repeat;
        size: 25px 25px;
      }
    }

    &_feature {
      margin-bottom: 12px;
    }

    &_warranty {
      position: relative;
      margin-bottom: 13px;
      padding-left: 27px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        font: {
          weight: 600;
          size: 16px;
        }
        line-height: 180%;
        color: $color-secondary;
        counter-increment: counter 1;
        content: counter(counter) '.';
      }
    }

    &_view {
      &_network {
        background-image: url('../img/vector/network.svg');
      }

      &_briefcase {
        background-image: url('../img/vector/briefcase.svg');
      }

      &_request {
        background-image: url('../img/vector/git-pull-request.svg');
      }
    }
  }

  &__supplement {
    display: flex;
    align-items: center;
    column-gap: $gap;
    max-width: 624px;
    font-size: 24px;
    line-height: 150%;

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 77px;
      height: 116px;
      @include image-set('../img/raster/pencil', 'png');
      background-repeat: $bg-repeat;
      background-position: left top;
      background-size: contain;
    }
  }
}
