@import 'variables';
@import 'mixins';

.feedback {
  padding: $section-offset-sm 0 $section-offset;

  &__container {
    position: relative;
  }
}

.form {
  max-width: 48.75%;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    display: block;
    width: 47.853%;
    height: 88.831%;
    @include image-set('../img/raster/illustration-1920', 'png');
    background: {
      repeat: $bg-repeat;
      position: $bg-position;
      size: contain;
    }
    transform: translateY(-50%);
  }

  &__title {
    margin-bottom: 9px;
    font: {
      weight: 400;
      size: 32px;
    }
    line-height: 100%;
  }

  &__desc {
    margin-bottom: 16px;
    color: $color-main-dark;
    line-height: 136%;
  }

  &__input {
    display: block;
    margin-bottom: 30px;
    padding: 6px 17px;
    border: 1px solid $color-main-light {
      radius: $border-radius;
    }
    width: 100%;
    font: {
      family: 'Open-Sans', sans-serif;
      weight: 400;
      size: 16px;
    }
    line-height: 250%;
    color: $color-main-darken;
    background-color: $color-main-light;
    transition: border-color $duration $timing-function, background-color $duration $timing-function;

    &::placeholder {
      font: {
        family: 'Open-Sans', sans-serif;
        weight: 400;
        size: 16px;
      }
      line-height: 250%;
      color: $color-main;
    }

    &:focus-visible {
      outline: none;
      border-color: $color-accent;
      background-color: $color-accent-lightest;
    }

    &:hover:not(:focus-visible) {
      border-color: $color-main-lighten;
      background-color: $color-main-lighten;
    }

    &:valid {
      border-color: $color-success;
      background-color: $color-main-light;
    }
  }

  &__btn {
    margin-bottom: 14px;
    padding: 17px;
    min-width: 159px;
    font-weight: 600;
  }
}
