@import 'variables';

.footer {
  &__wrapper {
    &_dark {
      padding: 24px 0 22px;
      background-color: $color-main-lighten;
    }

    &_light {
      padding: 5px 0;
      background-color: $color-main-light;
    }
  }

  &__container {
    &_top {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 32px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 24px;
    grid-column: span 2;
  }
}

.socials {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  &__icon {
    display: block;
    width: 30px;
    height: 30px;
  }

  &__path {
    fill: $color-main;
    transition: fill $duration $timing-function;
  }

  &__link {
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: -3px;
      right: -3px;
      bottom: -3px;
      left: -3px;
      z-index: -1;
      background-color: $color-accent-light;
      opacity: 0;
      transition: opacity $duration $timing-function;
    }
  }

  &__link:focus-visible {
    outline: none;
  }

  &__link:focus-visible::before {
    opacity: 1;
  }

  &__link:focus-visible &__path {
    fill: $color-main-lightest;
  }

  &__link:hover:not(:focus-visible) &__path {
    fill: $color-accent;
  }

  &__link:active:not(:focus-visible) &__path {
    fill: $color-accent-dark;
  }
}

.copyright {
  line-height: 136%;
  color: $color-main;
  text-align: center;

  &__abbr {
    text-transform: uppercase;
  }
}
