@import 'variables';
@import 'mixins';

// 1200 - 1399
@media (max-width: 1399px) {
  .cards {
    &_offers {
      grid: {
        template-columns: 1fr;
        auto-columns: 1fr;
        auto-flow: column;
      }
    }

    &_rating,
    &_products {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      &_rating {
        &:not(:nth-child(-n + 6)) {
          display: none;
        }
      }

      &_product {
        &:not(:nth-child(-n + 3)) {
          display: none;
        }
      }
    }
  }

  .card__picture_scheme {
    display: none;
  }

  .hero {
    &::before {
      background-position-x: 40%;
    }
  }

  .catalog {
    &__container {
      display: block;
    }
  }

  .filter {
    display: flex;
    gap: $gap;
    margin-bottom: 24px;

    &__desc {
      @include visually-hidden;
    }

    &__fieldset {
      margin-bottom: 0;
      min-width: 146px;
    }
  }

  .blurb {
    display: none;
  }
}

// 1024 - 1199
@media (max-width: 1199px) {
  .container {
    max-width: 95.215%;
  }

  .cards {
    &_categories {
      grid: {
        template-columns: repeat(9, 1fr);
        auto-rows: 511px;
      }
    }

    &__item {
      &_category {
        &:nth-child(2) {
          grid: {
            row-start: 2;
            column: 4 / span 3;
          }
        }

        &:nth-child(n + 3) {
          grid-column: span 3;
        }
      }

      &_useful {
        &:nth-child(3) {
          display: block;
        }
      }
    }
  }

  .card {
    &_theme {
      &_beds,
      &_dressers,
      &_armchair,
      &_chairs {
        background-size: auto;
      }

      &_beds {
        @include image-set('../img/raster/beds-bg-1024', 'png');
      }

      &_dressers {
        @include image-set('../img/raster/dressers-bg-1024', 'png');
      }

      &_armchair {
        @include image-set('../img/raster/armchairs-bg-1024', 'png');
        background-position: -237px 60%;
      }

      &_chairs {
        @include image-set('../img/raster/chairs-bg-1024', 'png');
      }
    }

    &_useful {
      &::before {
        height: 202px;
      }
    }

    &_view {
      &_bg-1 {
        &::before {
          @include image-set('../img/raster/useful-bg-1-1024', 'jpg');
        }
      }

      &_bg-2 {
        &::before {
          @include image-set('../img/raster/useful-bg-2-1024', 'jpg');
        }
      }

      &_bg-3 {
        &::before {
          @include image-set('../img/raster/useful-bg-3-1024', 'jpg');
        }
      }
    }

    &__picture {
      &_size {
        &_lg {
          top: 64px;
          padding-bottom: 31px;
          height: 218px;
        }
      }
    }

    &__body {
      row-gap: 30px;
    }

    &__desc {
      font-size: 16px;
    }
  }

  .header {
    padding-top: 18px;

    &::before {
      top: 58px;
    }

    &__wrapper {
      position: relative;
      grid-template-columns: repeat(9, 1fr);
      padding-top: 40px;
    }
  }

  .address {
    &_phone {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .nav {
    &_more {
      grid-column: span 7;
      justify-self: flex-start;
    }

    &_basic {
      grid-column: 3 / 10;
      justify-self: flex-end;
      align-self: center;
      max-width: 701px;
    }

    &_submenu {
      grid-column: span 7;
    }
  }

  .search {
    grid-column: 1 / 8;
  }

  .wrapper {
    &_cabinet {
      grid: {
        row-start: 1;
        column: 8 / 10;
      }
    }
  }

  .hero {
    &::before {
      @include image-set('../img/raster/hero-bg-1024', 'jpg');
    }
  }

  .article {
    &::before {
      @include image-set('../img/raster/collection-bg-1024', 'jpg');
    }
  }

  .form {
    max-width: 42.5%;

    &::after {
      width: 52.718%;
      height: 67.346%;
      @include image-set('../img/raster/illustration-1024', 'png')
    }
  }

  .product {
    padding: 3px 0 34px;

    &__container {
      grid-template-columns: repeat(9, 1fr);
      row-gap: 81px;
    }

    &__picture {
      &_basic {
        grid-column: span 5;
      }
    }

    &__offer {
      grid-column: span 4;
    }

    &__wrapper {
      &_desc {
        grid-column: span 5;
      }
    }

    &__list {
      grid-column: span 4;
    }
  }

  .characteristics {
    &__title {
      width: 45%;
    }

    &__desc {
      width: 53.5%;
    }
  }

  .similar-products {
    padding-top: 34px;
  }

  .footer {
    &__container {
      &_top {
        grid-template-columns: repeat(9, 1fr);
      }
    }
  }
}

// 992 - 1023
@media (max-width: 1023px) {
  .container {
    max-width: 84.375%;
  }
  .nav {
    &_more {
      grid-column: span 6;
      justify-self: auto;
    }

    &_basic {
      grid-column: span 6;
      justify-self: auto;
      max-width: none;
    }

    &_submenu {
      padding-top: 0;
    }

    &__list {
      &_more {
        column-gap: $gap;
      }
    }
  }
  .cards {
    &_rating,
    &_catalog,
    &_products {
      grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    }

    &_categories {
      grid-template-columns: repeat(6, 1fr);
    }

    &__item {
      &_offer {
        &:nth-child(3) {
          display: none;
        }
      }

      &_useful,
      &_product {
        &:nth-child(3) {
          display: none;
        }
      }

      &_catalog:not(:nth-child(-n+6)) {
        display: none;
      }
    }
  }
  .card {
    &_theme {
      &_armchair {
        background-position-x: center;
      }
    }

    &__desc {
      line-height: 137%;
    }
  }
  .header {
    &__wrapper {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  .address_socials {
    flex-basis: 130px;
  }
  .wrapper {
    &_cabinet {
      grid: {
        row-start: 2;
        column: 5 / 7;
      }
    }
  }
  .search {
    grid-column: span 6;
  }
  .hero {
    &::before {
      background-position-x: left;
    }
  }
  .article {
    &::before {
      @include image-set('../img/raster/collection-bg-768', 'jpg');
    }
  }
  .form {
    max-width: 65%;

    &::after {
      width: 28.86%;
      height: 94.626%;
      @include image-set('../img/raster/illustration-768', 'png');
    }
  }
  .pagination__item:nth-child(3) {
    display: block;
  }
  .product {
    padding: 0 0 16px;

    &__container {
      display: block;
    }

    &__picture {
      &_basic {
        margin-bottom: 84px;
      }
    }

    &__offer {
      margin-bottom: 80px;
    }

    &__wrapper {
      &_desc {
        margin-bottom: 27px;
      }
    }
  }
  .characteristics {
    &__title {
      width: 65%;
    }

    &__desc {
      width: 34.6%;
    }
  }
  .similar-products {
    padding-top: 17px;
  }
  .footer {
    &__container {
      display: block;
    }

    &__wrap {
      flex-direction: row;
      align-items: center;
      margin-bottom: 28px;
    }
  }
}

// 768 - 991
@media (max-width: 991px) {
  .nav {
    &_basic {
      overflow-x: auto;
    }

    &__list {
      &_basic {
        column-gap: 40px;
      }
    }

    &__item {
      &_basic {
        flex-shrink: 0;
      }
    }

    &__link {
      &_basic {
        font-size: 14px;
      }
    }
  }
  .card {
    &_theme {
      &_armchair {
        background-position-x: -237px;
      }
    }
  }
  .hero {
    &::before {
      @include image-set('../img/raster/hero-bg-768', 'jpg');
      background-position-y: 60%;
    }
  }
  .article {
    &__container {
      max-width: 93.8%;
    }
  }
  .product {
    &__wrapper {
      &_desc {
        max-width: 514px;
      }
    }
  }
}

// 576 - 767
@media (max-width: 767px) {
  .address {
    &_socials {
      flex-basis: auto;
    }
  }
  .nav {
    &_more {
      display: none;
    }

    &__list {
      &_basic {
        column-gap: 31px;
      }

      &_footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 16px;
      }
    }
  }
  .section-title {
    font-size: 29px;
  }
  .cards {
    &_offers {
      grid: {
        auto-rows: 1fr;
        auto-flow: row;
      }
      gap: 24px;
    }

    &_rating,
    &_catalog,
    &_products {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    &_categories {
      column-gap: 16px;
    }

    &_useful {
      grid-auto-flow: row;
      row-gap: 23px;
    }
  }
  .card {
    &_theme {
      &_armchair,
      &_beds,
      &_dressers,
      &_chairs {
        row-gap: 8px;
      }
    }

    &__list {
      gap: 2px 20px;

      &_armchair,
      &_beds,
      &_dressers,
      &_chairs {
        flex-direction: column;
        align-items: flex-start;
        font-size: 13px;
      }
    }

    &__wrap {
      flex-direction: row;
      align-items: center;
      column-gap: 5px;
      height: auto;
    }

    &__title {
      &_rating,
      &_catalog,
      &_product {
        max-width: 165px;
        font-size: 22px;
      }

      &_category {
        width: min-content;
      }

      &_theme {
        &_armchair,
        &_beds,
        &_dressers,
        &_chairs {
          font-size: 22px;
          line-height: 104%;
        }
      }
    }

    &__link {
      &_catalog {
        align-self: flex-end;
      }
    }
  }
  .link-catalog {
    &__text {
      @include visually-hidden;
    }
  }
  .logo {
    &_header {
      grid: {
        column: span 6;
        row-start: 1;
      }
      justify-self: center;
    }
  }
  .custom-checkbox {
    &__text {
      &_sm {
        font-size: 13px;
      }
    }
  }
  .header {
    padding-top: 0;

    &::before {
      top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 66px;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 50px;
      border: {
        top: 1px solid $color-main-light;
        bottom: 1px solid $color-main-light;
      }
    }

    &__wrapper {
      grid-template-rows: 50px 50px;
      gap: 16px;
      padding-top: 0;
    }
  }
  .address {
    &_phone {
      position: static;
      grid-column: span 3;
    }
  }
  .wrapper {
    &_cabinet {
      grid-column: 4 / 7;
    }
  }
  .offer {
    &__title {
      font-size: 43px;
    }
  }
  .article {
    &__container {
      max-width: 100%;
    }
  }
  .art {
    &__title {
      font-size: 43px;
    }
  }
  .form {
    &__title {
      font-size: 29px;
    }
  }
  .filter {
    flex-wrap: wrap;
    gap: 16px;
  }
  .product {
    &__picture {
      &_basic {
        margin-bottom: 50px;
      }
    }

    &__offer {
      margin-bottom: 56px;
    }

    &__title {
      font-size: 22px;
    }

    &__price {
      font-size: 32px;
    }

    &__wrapper {
      &_pic {
        column-gap: 16px;
      }
    }
  }
  .characteristics {
    &__title {
      width: 51%;
    }

    &__desc {
      width: 48%;
    }
  }
  .cooperation {
    &__subject,
    &__supplement {
      font-size: 22px;
    }

    &__desc {
      font-size: 14px;
    }
  }
  .footer {
    &__wrap {
      flex: {
        wrap: wrap;
        direction: column;
      }
    }
  }
}

// 320 - 575
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
  .custom-checkbox {
    &__text {
      &_sm {
        font-size: 12px;
      }
    }
  }
  .phone {
    &__icon {
      width: 18px;
      height: 18px;
    }
  }
  .btn {
    max-width: none;

    &_size {
      &_lg,
      &_xl {
        width: 100%;
      }
    }
  }
  .section-title {
    font-size: 24px;
  }
  .cards {
    &_categories {
      grid: {
        template-rows: 332px;
        auto-rows: 206px;
      }
    }

    &__item {
      &_offer {
        &:nth-child(n + 3) {
          display: block;
        }
      }

      &_useful {
        &:nth-child(n + 3) {
          display: block;
        }
      }
    }
  }
  .card {
    &_product {
      padding: 108px 16px 16px;
    }

    &_theme {
      &_armchair,
      &_beds,
      &_dressers,
      &_chairs {
        padding: 16px 20px 16px 16px;
      }

      &_sofas {
        @include image-set('../img/raster/sofas-bg-320', 'png');
        background: {
          position: -50px 87%;
          size: auto 64%;
        }
      }

      &_dressers {
        @include image-set('../img/raster/dressers-bg-320', 'png');
        background-position-y: 86%;
      }

      &_chairs {
        @include image-set('../img/raster/chairs-bg-320', 'png');
        background-position-y: 84%;
      }

      &_beds {
        @include image-set('../img/raster/beds-bg-320', 'png');
        background-position-y: 84%;
      }

      &_armchair {
        @include image-set('../img/raster/armchairs-bg-320', 'png');
        background-position: left 84%;
      }
    }

    &_view {
      &_bg-4 {
        &::before {
          @include image-set('../img/raster/useful-bg-4-320', 'jpg');
        }
      }

      &_bg-5 {
        &::before {
          @include image-set('../img/raster/useful-bg-5-320', 'jpg');
        }
      }
    }

    &__rating {
      top: 18px;
      left: 16px;
      font-size: 12px;

      &::before {
        width: 13px;
        height: 12px;
      }
    }

    &__picture {
      &_theme {
        &_product {
          top: 32px;
          align-items: center;
          max-width: 77%;
          height: 74px;
        }
      }
    }

    &__list {
      &_armchair,
      &_beds,
      &_dressers,
      &_chairs {
        font-size: 10px;
      }
    }

    &__title {
      &_rating,
      &_catalog,
      &_product {
        margin-bottom: 16px;
        max-width: 108px;
        font-size: 16px;
      }

      &_theme {
        &_armchair,
        &_beds,
        &_dressers,
        &_chairs {
          font-size: 16px;
        }
      }
    }

    &__price {
      &_product {
        margin-bottom: 15px;
      }
    }

    &__btn {
      &_rating,
      &_catalog,
      &_product {
        padding: 10px;
        min-width: auto;
        width: 100%;
      }
    }
  }
  .header {
    &__wrapper {
      &_more {
        margin-bottom: 0;
      }
    }
  }
  .hero {
    padding: {
      top: 30px;
      bottom: 0;
    }

    &::before {
      height: 210px;
      @include image-set('../img/raster/hero-bg-320', 'jpg');
      background-position-y: 70%;
    }
  }
  .offer {
    &__title {
      margin-bottom: 157px;
      padding-left: 18px;
      max-width: 228px;
      font-size: 20px;
    }
  }
  .article {
    padding: {
      top: 33px;
      bottom: 0;
    }
    &::before {
      height: 210px;
      @include image-set('../img/raster/collection-bg-320', 'jpg');
    }
  }
  .art {
    &__title {
      margin-bottom: 142px;
      max-width: 200px;
      font-size: 16px;
    }

    &__subtitle {
      font-size: 24px;
    }
  }
  .form {
    max-width: 100%;

    &::after {
      display: none;
    }

    &__title {
      font-size: 24px;
    }
  }
  .breadcrumbs {
    display: none;
  }
  .filter {
    &__fieldset {
      &_category {
        min-width: auto;
      }

      &_price {
        width: 100%;
      }
    }
  }
  .product {
    padding-bottom: 35px;

    &__picture {
      &_basic {
        margin-bottom: 18px;
      }

      &_scheme {
        max-width: 140px;
        height: 64px;
      }
    }

    &__offer {
      margin-bottom: 31px;
    }

    &__wrapper {
      &_desc {
        margin-bottom: 32px;
      }
    }

    &__title {
      margin-bottom: 7px;
      font-size: 16px;
    }

    &__desc {
      margin-bottom: 17px;
    }

    &__price {
      margin-bottom: 15px;
      font-size: 24px;
    }

    &__btns {
      width: 100%;
    }

    &__text {
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }
  .characteristics {
    &__item {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__title {
      width: 100%;
      font-size: 10px;
      line-height: 140%;

      &::after {
        display: none;
      }
    }

    &__desc {
      width: 100%;
      line-height: 135%;
    }
  }
  .similar-products {
    padding-top: 35px;
  }
  .cooperation {
    &__subject {
      font-size: 16px;

      &_features {
        font-size: 14px;
      }
    }

    &__heading {
      margin-bottom: 10px;
    }

    &__element {
      &_warranty {
        margin-bottom: 9px;
      }
    }

    &__supplement {
      column-gap: 16px;
      font-size: 16px;

      &::before {
        width: 36px;
        height: 54px;
        @include image-set('../img/raster/pencil-320', 'png');
      }
    }
  }
}
